<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--Data Upload Configuration-->
		<add key="IsReqUploadDataBtn" value="0" />

		<add key="DataUploadConnectionString" value="Data Source=Ashraf\SQL2016;Initial Catalog=GTLite_PSIGC_Testing;User ID=sa;Password=sql2016" />
		<!--<add key="FTPHost" value="05?04#04?04%04?05005205504?04#05@054" />
		<add key="FTPPort" value="05004#" />
		<add key="FTPUser" value="0??0%007@0#%0#70##107117112" />
		<add key="FTPPassword" value="11510010?1020#%1040#%102102107101117105" />-->
		<add key="FTPPath" value="/BPI_DailyBackups" />
		<!--Data Upload Configuration-->



		<!--Data Sync Configuration-->
		<add key="IsReqDataSyncBtn" value="0" />

		<add key="DataSyncConnectionString" value="Data Source=Ashraf\SQL2016;Initial Catalog=master;User ID=sa;Password=sql2016" />
		<add key="DataSyncMultipleDataBaseBackupPath" value="D:\Testing\D2\GTLite_JeddahPolymer_DIs3(I4)Tuesday.bak.rar" />

		<add key="EmailDatabase" value="Data Source=Ashraf\SQL2016;Initial Catalog=GTLite_SilverEnterprise_Local;User ID=sa;Password=sql2016" />
		<add key="ToSendingEmail" value="usmansamad42@gmail.com,usmansamad28@gmail.com" />
		<add key="Email" value="smartsolutionsofficially@gmail.com" />
		<add key="Password" value="msarudgsbxylcxqd" />
		<add key="PortNo" value="587" />
		<add key="SyncButtonClickTime" value="2:52 PM" />
		<!--Data Sync Configuration-->


		<!--Data Download Configuration-->
		<add key="IsReqDataDownloadBtn" value="1" />
		<add key="IsSystemMultiplePath" value="1" />

		<add key="FTPHost" value="04#05?05004?04#05?05204?04#04%05504?050051054" />
		<add key="FTPPort" value="05004#" />
		<add key="FTPUser" value="0?710%1111171000??0#70##107117112115" />
		<add key="FTPPassword" value="0?710%0?41171000??05404#0##107052112115" />
		<!--<add key="FTPMultiplePath" value="/CLOUD9/CLOUD9-SQL2016WH,/asdasd" />-->
		<add key="FTPMultiplePath" value="D:\Dt,D:\Dt1" />
		<add key="FTPIgnoreFileName" value="ReportServer$SQL2016WHTempDBs9Saturday.bak001.zip,ReportServer$SQL2016WHs9Saturday.bak001.zip,msdbs9Saturday.bak001.zip,masters9Saturday.bak001.zip,GTLite_HammadGarmentss9Saturday.bak001.zip,GTLite_HammadGarments2s9Saturday.bak001.zip" />
		<add key="DownloadPath" value="\\gtdrive\Public\Ashraf\Testing1" />

		<add key="FTPIgnoreFileName2" value="ReportServer$SQL2016I6TempDBs9Friday.bak001.zip,ReportServer$SQL2016I6s9Friday.bak001.zip,msdbs9Friday.bak001.zip,masters9Friday.bak001.zip,GTLite_TwinStarThreds_NKs9Friday.bak001.zip,GTLite_TwinStarThreds_HOs9Friday.bak001.zip,GTLite_TwinStarThreds_BCs9Friday.bak001.zip,GTLite_SicoPaints9Friday.bak001.zip,GTLite_SicoPaint_FromJan2025s9Friday.bak001.zip,GTLite_Petrolheadsgs9Friday.bak001.zip,GTLite_Petrolheadsg_2026s9Friday.bak001.zip,GTLite_Petrolheadsg_2025s9Friday.bak001.zip,GTLite_PBDs9Friday.bak001.zip,GTLite_PBD_Perfumes9Friday.bak001.zip,GTLite_MRafiqCrockerys9Friday.bak001.zip,GTLite_MarwatCRMs9Friday.bak001.zip,GTLite_KphItemPrices9Friday.bak001.zip,GTLite_IrshadTraders_Badars9Friday.bak001.zip,GTLite_FerozTradings9Friday.bak001.zip" />
		<add key="DownloadPath2" value="\\gtdrive\Public\Ashraf\Testing2" />
		<add key="IsDeleteDownloadDataFromCloud" value="0" />

		<!--Data Upload Configuration-->

	</appSettings>
</configuration>
