<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--Data Upload Configuration-->
		<add key="IsReqUploadDataBtn" value="0" />

		<add key="DataUploadConnectionString" value="Data Source=Ashraf\SQL2016;Initial Catalog=GTLite_PSIGC_Testing;User ID=sa;Password=sql2016" />
		<add key="FTPHost" value="05?04#04?04%04?05005205504?04#05@054" />
		<add key="FTPPort" value="05004#" />
		<add key="FTPUser" value="0??0%007@0#%0#70##107117112" />
		<add key="FTPPassword" value="11510010?1020#%1040#%102102107101117105" />
		<add key="FTPPath" value="/BPI_DailyBackups" />
		<!--Data Upload Configuration-->



		<!--Data Sync Configuration-->
		<add key="IsReqDataSyncBtn" value="1" />

		<add key="DataSyncConnectionString" value="Data Source=Ashraf\SQL2016;Initial Catalog=master;User ID=sa;Password=sql2016" />
		<add key="DataSyncMultipleDataBaseBackupPath" value="D:\Testing\D2\GTLite_JeddahPolymer_DIs3(I4)Tuesday.bak.rar" />

		<add key="EmailDatabase" value="Data Source=Ashraf\SQL2016;Initial Catalog=GTLite_SilverEnterprise_Local;User ID=sa;Password=sql2016" />
		<add key="ToSendingEmail" value="usmansamad42@gmail.com,usmansamad28@gmail.com" />
		<add key="Email" value="smartsolutionsofficially@gmail.com" />
		<add key="Password" value="msarudgsbxylcxqd" />
		<add key="PortNo" value="587" />
		<add key="SyncButtonClickTime" value="2:52 PM" />
		<!--Data Sync Configuration-->


		<!--Data Download Configuration-->
		<add key="IsReqDataDownloadBtn" value="0" />

		<!--<add key="FTPHost" value="04#05?05004?04#05?05204?04#04%05504?050051054" />
		<add key="FTPPort" value="05004#" />
		<add key="FTPUser" value="0?710%1111171000??0#70##107117112115" />
		<add key="FTPPassword" value="0?710%0?41171000??05404#0##107052112115" />-->
		<add key="FTPMultiplePath" value="/Iperiusbackup/Daily/vps1_sql2016_alldata to Gentec/Daily_vps1_sql2016_alldata to Gentec,/Iperiusbackup/Daily/VPS5_SQL2012/Daily_VPS5_SQL2012,/Iperiusbackup/Daily/VPS5_SQL2016/Daily_VPS5_SQL2016,/Iperiusbackup/Daily/VPS5_SQL2016I2/Daily_VPS5_SQL2016I2,/Iperiusbackup/Daily/VPS5_SQL2016I3/Daily_VPS5_SQL2016I3,/Iperiusbackup/Daily/VPS5_SQL2016I4/Daily_VPS5_SQL2016I4,/Iperiusbackup/Daily/VPS5_SQL2016I5/Daily_VPS5_SQL2016I5" />
		<add key="FTPIgnoreFileName" value="crete.txt" />
		<add key="DownloadPath" value="\\gtdrive\Public\Ashraf" />

		<!--Data Upload Configuration-->

	</appSettings>
</configuration>
